/* .bpmn-icon-task.red {
  color: #cc0000 !important;
} */

.icon-custom {
  border-radius: 50%;
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
}

/* 图形右键菜单的图标样式 */
.icon-custom.my-first-task {
  background-image: url('@/assets/img/rules.png');
}

.djs-context-pad .my-first-task.entry:hover {
  background: url('@/assets/img/rules.png') center no-repeat !important;
  background-size: 100% !important;
}

/* 左侧工具栏图标样式 */
.icon-custom.my-custom-task {
  background-image: url('@/assets/img/rules.png');
}

.djs-context-pad .entry {
  background-size: 100%;
  transition: all 0.3s;
  border: 1px solid transparent;
}

.djs-context-pad .entry:hover {
  border: 1px solid #1890ff;
}

.icon-custom-delete {
  background-image: url('@/assets/img/delete.png');
}

.djs-context-pad .icon-custom-delete.entry:hover {
  background: url('@/assets/img/delete.png') center no-repeat !important;
  background-size: 100% !important;
}
